.cartProductContainer{
    width: 100%;
    display: flex;
}
.cartProductLeft{
    width: 50%;
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cartProductImage{
    height: 8rem;
    width: 12rem;
}
.cartProductRight{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
}
.productCount{
    display: flex;
    align-items: center;
}
.productCount button{
    font-size: 2rem;
    border: none;
    background: none;
    cursor: pointer;
    /* color: aqua; */
}
.productCount p{
    font-size: 1.5rem;
    margin: 0 0.5rem;
}